.pup{
    background-image:url( https://images.wallpaperscraft.ru/image/single/nebo_oblaka_rozovyy_92617_1920x1080.jpg);
    width: 500px;
    overflow: auto;
}
.pip{
    background-color: rgb(151, 190, 206);
}
.lol{
    background-color: rgb(255, 215, 215);
}
.duck{
    background-color: rgb(95, 96, 138);
}
.piu{
    background-color: rgb(255, 186, 57);
}
.morgen{
    background-color: rgb(199, 150, 245);
}
.knopka{
    width: 195px;
    border-radius: 5px;
    background-color: #ffacac;
    background-image: #1000f4;
    background-image: -moz-linear-gradient(top, #f3eded 0%, #29022e 100%);
    background-image: -webkit-linear-gradient(top, #f3eded 0%,#491645 100%);
    background-image: linear-gradient(to bottom, #f3eded 0%,#131f5f 100%);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.knopka{
    background-position: -200%;
  transition: background 300ms ease-in-out;
}.knopka:hover{
    background-color: brown;
}
.knopka:active{
    background-color: cornsilk;
}