.kok{
    background-image: url( https://images.wallpaperscraft.ru/image/single/nebo_oblaka_rozovyy_92617_1920x1080.jpg);
    width: 425px;
    overflow: auto;

}
.abs{
    position: fixed;
}
.offset{
    padding-top: 329px;
}
#Описание{
    width: 800px;
    height: 100%;
    margin: 0 auto;
    background: #f9fde2;
}
#жанры{
    width: 100%;
    height: 70px;
}
#топ{
    background: url(i/bg-nav.gif) #fff7d4 100% 0 no-repeat;
    height: 70px;
}
#топ ul{
    list-style-type: none;
    float: right;
}
#топ li{
    display: inline-block;
}
#топ a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 15px;
    line-height: 20px;
    display: inline-block;
}
#Обратная{
    background: url(i/bg-header.gif) #fffaca 0 0 no-repeat;
    height: 50px;
}
#logo{
    background: url(i/logo.gif) #fffecf 0 0 no-repeat;
    width: 30px;
    height: 30px;
}
#logo{
    display: block;
    width: 100%;
    height: 100%; 
}
.duck{
    background-color: rgb(255, 250, 203);
}
.pip{
    background-color: rgb(255, 240, 192);
}
.piu{
    background-color: lightskyblue;
}
.sos{
    background-color: lightslategray;
}
.knopka{
    width: 195px;
    border-radius: 5px;
    background-color: #ffacac;
    background-image: #1000f4;
    background-image: -moz-linear-gradient(top, #f3eded 0%, #29022e 100%);
    background-image: -webkit-linear-gradient(top, #f3eded 0%,#491645 100%);
    background-image: linear-gradient(to bottom, #f3eded 0%,#131f5f 100%);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.knopka{
    background-position: -200%;
  transition: background 300ms ease-in-out;
}.knopka:hover{
    background-color: brown;
}
.knopka:active{
    background-color: cornsilk;
}